@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #f9f9f9;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  padding-top: 79px;
  margin-bottom: 151px;
  background: #eeeff1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar-list li {
  display: inline-block;
  margin-right: 42px;
  color: #000000;
  font-weight: 400;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  color: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-list li.active {
  color: #34547a;
  font-weight: 500;
}

.navbar-list li:hover {
  color: #646363;
}

.menu__mobile {
  display: flex;
  margin-right: auto;
  position: relative;
  visibility: hidden;
}

.menu__mobile__checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.menu__mobile__checkbox:checked + .btn--hamburger {
  z-index: 9;
}

.menu__mobile__checkbox:checked + .btn--hamburger::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu__mobile__checkbox:checked + .btn--hamburger::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu__mobile__checkbox:checked + .btn--hamburger span {
  opacity: 0;
  visibility: hidden;
}

.menu__mobile__checkbox:checked ~ .menu__mobile__navigation {
  background: #34547a;
  top: 40px;
  opacity: 1;
  visibility: visible;
  z-index: 8;
}

.btn--hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.btn--hamburger::before,
.btn--hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.btn--hamburger::before {
  top: 0;
}

.btn--hamburger::after {
  bottom: 0;
}

.btn--hamburger span {
  width: 100%;
  height: 1px;
  background: black;
  transition: all 0.3s ease;
}

.menu__mobile__navigation {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  color: white;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.menu__mobile__navigation__list {
  display: flex;
  flex-direction: column;
}

.menu__mobile__navigation__list__item {
  padding: 20px 0;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
}

.menu__mobile__navigation__list__link {
  text-decoration: none;
  color: white;
}

.hero {
  background: #eeeff1;
  padding-top: 257px;
  padding-bottom: 141px;
  margin-bottom: 55px;
}

.hero h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin-bottom: 50px;
}

.hero p {
  max-width: 540px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 65px;
}

.hero a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 19px 69px;
  text-decoration: none;
  background: #34547a;
}

.about {
  margin-top: 55px;
  text-align: center;
  margin-bottom: 50px;
}

.about h2 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.about p {
  max-width: 540px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #727272;
  margin: 0 auto;
  padding: 0 1px;
}

.numbers {
  background: #34547a;
  margin-top: 50px;
  font-size: 0;
}

.block {
  display: inline-block;
  max-width: 141px;
  width: 100%;
  height: 50px;
  margin: 100px 49px 100px 0px;
  font-size: 0;
}

.block:last-child {
  margin-right: 0;
}

.numbers .block:nth-child(-n + 6)::before {
  content: url(../image/item.svg);
  position: absolute;
}

.block h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  height: 19px;
  margin-left: 70px;
}

.block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 9px;
  margin-left: 70px;
}

.work {
  margin-top: 100px;
  text-align: center;
}

.work h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.work p {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.video {
  margin-top: 57px;
}
.video video {
  max-height: 600px;
  width: 100%;
}

.footer {
  background: #34547a;
  margin-top: 100px;
}

.footer h4 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 15px;
}

.footer p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 45px;
}

@media (max-width: 1140px) {
  .mobile__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 49px 50px 0;
  }

  .block:nth-child(5) {
    margin-right: 0px;
  }

  .block:last-child {
    margin-left: 49px;
  }
}

@media (max-width: 800px) {
  .block:last-child {
    margin-right: 49px;
  }
}

@media (max-width: 720px) {
  .navbar {
    padding-top: 20px;
  }

  .navbar-list li {
    display: none;
  }

  .menu__mobile {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
  }

  .hero {
    padding-top: 130px;
  }
}

@media (max-width: 610px) {
  .mobile__flex {
    flex-direction: column;
    align-content: center;
    align-items: baseline;
  }
}

@media (max-width: 430px) {
  .hero h1,
  .about h2,
  .work h3 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .hero p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: justify;
  }

  .hero a {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 35px;
  }

  .work,
  .footer {
    margin-top: 50px;
  }
}
.about p,
.work p {
  font-size: 14px;
  text-align: justify;
}

.footer h4 {
  font-size: 16px;
  line-height: 15px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.footer p {
  font-size: 10px;
  line-height: 15px;
  padding-bottom: 25px;
}
